@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: #8d5b77;
    font-family: Inter;
}

h2 {
    color: #8b5d74;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main section form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 32vh;
    position: relative;
    top: 25px;
}

    main section form label {
    margin-top: 5px;   
    text-align: left;
    font-family: Inter;
    color: #000000;
}
    main section form input {
    background-color: white;
    border: 2px solid #8b5d74;
    border-radius: 10px;
    width: 60%;
    padding: 7px;
    }

    a {
        width: 100%;
    }

    main section form #enviar {
    background-color: #8b5d74;
    font-family: Inter;
    padding: 10px;
    border: 2px solid;
    border-radius: 20px;
    color: white;
    width: 20%;
    position: relative;
    left: 20px;
    bottom: 5px;
    text-decoration: none;
    }

    a {
        text-decoration: none;
    }

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border: 2px solid #8d5b77;
    border-radius: 25px;
    width: 60%;
    height: 70%;
}