@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #f4d8df;
  color: #7c5a68;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #a17283;
  color: #fff;
  padding: 4%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.admin-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  position: relative;
  top: 15px;
}

.user-info {
  font-size: 14px;
  text-align: right;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.user-info p {
  background-color: #f4d8df;
  color: #7c5a68;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.user-info p:first-child {
  color: green;
}

.user-name {
  font-weight: bold;
}

nav.menu {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
  position: relative;
  top: 90px;
  z-index: 1;
}

nav.menu button.active {
  background-color: green;
  color: white;
}

nav.menu button {
  background-color: #f4d8df;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #7c5a68;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

main.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  padding: 0 20px;
}

.admin-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.logo img {
  max-width: 150px;
  height: auto;
  margin: 0 20px;
}

.admin-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  background-color: #ceadc0;
  border: 2px solid #7c5a68;
  border-radius: 10px;
  padding: 25px;
  text-align: left;
  height: 40vh;
  width: 50vw;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 90px;
}

.admin-card > img {
    width: 15vw;
    height: 32vh;
    position: relative;
    left: 20px;
    top: 5px;
}

.org {
    font: 24px;
    height: 100%;
    width: 80%;
    text-align: center;
}

.org > p {
    text-align: center;
    background-color: white;
}

#informacoes {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-weight: 600;
    position: relative;
    left: 60px;
    height: 100%;
    width: 70%;
}

#informacoes > p {
    background-color: rgba(141, 91, 119, 0.9);
    color: white;
    width: 90%;
    padding: 5px;
}

.admin-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-btn {
  background-color: #72b078;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.add-admin-btn {
  background-color: #72b078;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  /*margin-top: 20px;
  margin-bottom: 30px;*/
  position: relative;

  top: 100px;
  right: 35px;
}

footer {
  background-color: #a17283;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

